<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <dhl_dhl24pl>
                <active>0</active>
                <sallowspecific>0</sallowspecific>
                <model>DHL\Dhl24pl\Model\Carrier\Carrier</model>
                <name>DHL24</name>
                <price_parcelshop></price_parcelshop>
                <price_courier></price_courier>
                <title>DHL24</title>
                <type>I</type>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </dhl_dhl24pl>
        </carriers>
    </default>
</config>